# Exercise: Level 1

### 1 Check the python version you are using

In [ ]:
#1. Check the python version you are using

In [ ]:
#How to Check the python version you are using

In [1]:
!python --version

Python 3.11.5

In [ ]:
#2. operations in the Python interactive shell:The operands are 3 and 4

In [3]:
# Addition
result_addition = 3 + 4
print("Addition:", result_addition)

Addition: 7

In [4]:
# Subtraction
result_subtraction = 3 - 4
print("Subtraction:", result_subtraction)

Subtraction: -1

In [5]:
# Multiplication
result_multiplication = 3 * 4
print("Multiplication:", result_multiplication)

Multiplication: 12

In [6]:
# Modulus
result_modulus = 3 % 4
print("Modulus:", result_modulus)

Modulus: 3

In [7]:
# Division
result_division = 3 / 4
print("Division:", result_division)

Division: 0.75

In [8]:
# Exponential
result_exponential = 3 ** 4
print("Exponential:", result_exponential)

Exponential: 81

In [9]:
# Floor Division
result_floor_division = 3 // 4
print("Floor Division:", result_floor_division)

Floor Division: 0

In [ ]:
#3. Write strings on the python interactive shell. The strings are the following:
#Your name
#Your family name
#Your country
#I am enjoying 30 days of python

In [11]:
# MY name
My_name = "Muazu"
print("My name:", My_name)

My name: Muazu

In [12]:
# My family name
My_family_name = "Ali Lawal"
print("My family name:", My_family_name)

My family name: Ali Lawal

In [13]:
# My country
My_country = "Nigeria"
print("My country is :", My_country)

My country is : Nigeria

In [14]:
# "I am enjoying 30 days of python"
enjoying_python = "I am enjoying 30 days of python"
print(enjoying_python)

I am enjoying 30 days of python

In [ ]:
# 4. Check the data types of the following data:

In [ ]:
# Data types

In [15]:
type(10)

int

In [16]:
type(9.8)

float

In [17]:
type(3.14)

float

In [18]:
type(4 - 4j)

complex

In [19]:
type(['Asabeneh', 'Python', 'Finland'])

list

In [20]:
type('Your name')

str

In [21]:
type('Your family name')

str

In [22]:
type('Your country')

str

# Exercise: Level 2

In [ ]:
#check the solution above as Question 1

# Exercise: Level 3

In [ ]:
#1. Write an example for different Python data types such as Number(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary.

In [23]:
# Number: Integer
integer_number = 10
print(f"Integer Number: {integer_number}, Type: {type(integer_number)}")

Integer Number: 10, Type: <class 'int'>

In [24]:
# Number: Float
float_number = 9.8
print(f"Float Number: {float_number}, Type: {type(float_number)}")

Float Number: 9.8, Type: <class 'float'>

In [25]:
# Number: Complex
complex_number = 4 - 4j
print(f"Complex Number: {complex_number}, Type: {type(complex_number)}")

Complex Number: (4-4j), Type: <class 'complex'>

In [26]:
# String
text_string = "Hello, Python!"
print(f"String: {text_string}, Type: {type(text_string)}")

String: Hello, Python!, Type: <class 'str'>

In [27]:
# List
programming_languages = ['Python', 'JavaScript', 'Java']
print(f"List: {programming_languages}, Type: {type(programming_languages)}")

List: ['Python', 'JavaScript', 'Java'], Type: <class 'list'>

In [28]:
# Tuple
days_of_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
print(f"Tuple: {days_of_week}, Type: {type(days_of_week)}")

Tuple: ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'), Type: <class 'tuple'>

In [29]:
# Set
unique_numbers = {1, 2, 3, 4, 5}
print(f"Set: {unique_numbers}, Type: {type(unique_numbers)}")

Set: {1, 2, 3, 4, 5}, Type: <class 'set'>

In [30]:
# Dictionary
person_info = {'name': 'John', 'age': 30, 'city': 'New York'}
print(f"Dictionary: {person_info}, Type: {type(person_info)}")

Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}, Type: <class 'dict'>

In [ ]:
#2. Find an Euclidian distance between (2, 3) and (10, 8)

In [31]:
import math

In [32]:
# Coordinates of the points
point1 = (2, 3)
point2 = (10, 8)

In [33]:
# Euclidean distance calculation
distance = math.sqrt((point2[0] - point1[0])**2 + (point2[1] - point1[1])**2)

In [34]:
# Print the result
print(f"The Euclidean distance between {point1} and {point2} is {distance:.2f}")

The Euclidean distance between (2, 3) and (10, 8) is 9.43