# Exercise: Level 2

# Exercises: Level 1

In [ ]:
# Day 2: 30 Days of Python Programming

In [1]:
#Declare a first name variable and assign a value to it
first_name = "Ali Lawal Muazu"
first_name

'Ali Lawal Muazu'

In [2]:
#Declare a last name variable and assign a value to it
last_name = "Muazu"
last_name

'Muazu'

In [3]:
#Declare a full name variable and assign a value to i
full_name = "Ali Lawal Muazu"
full_name

'Ali Lawal Muazu'

In [4]:
#Declare a country variable and assign a value to it
country = "Nigeria"
country

'Nigeria'

In [5]:
#Declare a city variable and assign a value to it
city = "Kano"
city

'Kano'

In [6]:
#Declare an age variable and assign a value to it
age = 37
age

37

In [7]:
#Declare a year variable and assign a value to it
year = 2023
year

2023

In [8]:
#Declare a variable is_married and assign a value to it
is_married = True
is_married

True

In [9]:
#Declare a variable is_true and assign a value to it
is_true = True
is_true

True

In [10]:
#Declare a variable is_light_on and assign a value to it
is_light_on = True
is_light_on

True

In [11]:
#Declare multiple variable on one line
first_name, middle_name, last_name = "Ali", "Lawal", "Muazu"
first_name, middle_name, last_name

('Ali', 'Lawal', 'Muazu')

# Exercises: Level 2

In [12]:
#Check the data type of all your variables using type() built-in function
print("Type of 'first_name':", type(first_name))
print("Type of 'middle_name':", type(middle_name))
print("Type of 'last_name':", type(last_name))
print("Type of 'country':", type(country))
print("Type of 'city':", type(city))
print("Type of 'age':", type(age))
print("Type of 'year':", type(year))
print("Type of 'is_married':", type(is_married))
print("Type of 'is_true':", type(is_true))
print("Type of 'is_light_on':", type(is_light_on))

Type of 'first_name': <class 'str'>
Type of 'middle_name': <class 'str'>
Type of 'last_name': <class 'str'>
Type of 'country': <class 'str'>
Type of 'city': <class 'str'>
Type of 'age': <class 'int'>
Type of 'year': <class 'int'>
Type of 'is_married': <class 'bool'>
Type of 'is_true': <class 'bool'>
Type of 'is_light_on': <class 'bool'>

In [13]:
#Using the len() built-in function, find the length of your first name
first_name_length = len(first_name)
print("Length of 'first_name':", first_name_length)

Length of 'first_name': 3

In [15]:
#Compare the length of your first name and your last name
first_name_length = len(first_name)
last_name_length = len(last_name)

if first_name_length > last_name_length:
    print("First name is longer than last name. Length: {} > {}".format(first_name_length, last_name_length))
elif first_name_length < last_name_length:
    print("Last name is longer than first name. Length: {} > {}".format(last_name_length, first_name_length))
else:
    print("First name and last name have the same length. Length: {} = {}".format(first_name_length, last_name_length))

Last name is longer than first name. Length: 5 > 3

In [ ]:
#Declare 5 as num_one and 4 as num_two

In [16]:
#i. Add num_one and num_two and assign the value to a variable total
num_one = 5
num_two = 4

total = num_one + num_two

print("Total:", total)

Total: 9

In [17]:
#ii. Subtract num_two from num_one and assign the value to a variable diff
num_one = 5
num_two = 4

diff = num_one - num_two

print("Difference:", diff)

Difference: 1

In [18]:
#iii. Multiply num_two and num_one and assign the value to a variable product
num_one = 5
num_two = 4

product = num_one * num_two

print("Product:", product)

Product: 20

In [19]:
#iv. Divide num_one by num_two and assign the value to a variable division
num_one = 5
num_two = 4

division = num_one / num_two

print("Division:", division)

Division: 1.25

In [20]:
#v. Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
num_one = 5
num_two = 4

remainder = num_two % num_one

print("Remainder:", remainder)

Remainder: 4

In [21]:
#vi. Calculate num_one to the power of num_two and assign the value to a variable exp
num_one = 5
num_two = 4

exp = num_one ** num_two

print("Exponentiation:", exp)

Exponentiation: 625

In [22]:
#vii. Find floor division of num_one by num_two and assign the value to a variable floor_division
num_one = 5
num_two = 4

floor_division = num_one // num_two

print("Floor Division:", floor_division)

Floor Division: 1

In [ ]:
#5 The radius of a circle is 30 meters.

In [23]:
#i .Calculate the area of a circle and assign the value to a variable name of area_of_circle
import math

radius = 5  # You can replace 5 with the desired radius
area_of_circle = math.pi * (radius ** 2)

print("Area of Circle:", area_of_circle)

Area of Circle: 78.53981633974483

In [24]:
#ii. Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
import math

radius = 5  # You can replace 5 with the desired radius
circum_of_circle = 2 * math.pi * radius

print("Circumference of Circle:", circum_of_circle)

Circumference of Circle: 31.41592653589793

In [25]:
#iii. Take radius as user input and calculate the area.
import math

# Use a predefined radius value
radius = 5

# Calculate the area of the circle
area_of_circle = math.pi * (radius ** 2)

print("Area of Circle with radius", radius, "is:", area_of_circle)

Area of Circle with radius 5 is: 78.53981633974483

In [26]:
#6. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
# Get user input for first name
first_name = input("Enter your first name: ")

# Get user input for last name
last_name = input("Enter your last name: ")

# Get user input for country
country = input("Enter your country: ")

# Get user input for age
age_str = input("Enter your age: ")

# Convert the age input to an integer
age = int(age_str)

# Print the collected information
print("First Name:", first_name)
print("Last Name:", last_name)
print("Country:", country)
print("Age:", age)

Enter your first name: ALI
Enter your last name: LAWAL
Enter your country: NIGERIA
Enter your age: 37
First Name: ALI
Last Name: LAWAL
Country: NIGERIA
Age: 37

In [27]:
#7. Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.