# Exercises - Day 7

In [ ]:
#Exercises: Level 1

In [2]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
#Find the length of the set it_companies

In [3]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
length_of_it_companies = len(it_companies)

print("Length of it_companies:", length_of_it_companies)

Length of it_companies: 7

In [ ]:
#Add 'Twitter' to it_companies

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')

print("Updated it_companies:", it_companies)

Updated it_companies: {'Oracle', 'IBM', 'Twitter', 'Facebook', 'Amazon', 'Microsoft', 'Google', 'Apple'}

In [ ]:
#Insert multiple IT companies at once to the set it_companies

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# List of IT companies to add
new_companies = ['Twitter', 'LinkedIn', 'Intel', 'Dell', 'HP']

# Using the update() method to add multiple elements
it_companies.update(new_companies)

print("Updated it_companies:", it_companies)

Updated it_companies: {'Oracle', 'Dell', 'Apple', 'IBM', 'Google', 'HP', 'Twitter', 'Facebook', 'Amazon', 'LinkedIn', 'Intel', 'Microsoft'}

In [ ]:
#Remove one of the companies from the set it_companies

In [6]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Twitter', 'LinkedIn', 'Intel', 'Dell', 'HP'}

# Removing a specific company, for example, 'Twitter'
it_companies.remove('Twitter')

print("Updated it_companies:", it_companies)

Updated it_companies: {'Oracle', 'HP', 'Facebook', 'Dell', 'Amazon', 'LinkedIn', 'Apple', 'IBM', 'Intel', 'Microsoft', 'Google'}

In [ ]:
#What is the difference between remove and discard

In [13]:
#Remove
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Apple')  # Raises KeyError if 'Twitter' is not present
it_companies

{'Amazon', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle'}

In [14]:
#Discard
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Google')  # Raises KeyError if 'Twitter' is not present
it_companies

{'Amazon', 'Apple', 'Facebook', 'IBM', 'Microsoft', 'Oracle'}

In [ ]:
#Exercises: Level 2

In [ ]:
#Join A and B

In [15]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Join sets A and B using union()
result_union = A.union(B)

print("Result using union():", result_union)

Result using union(): {19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
#Find A intersection B

In [16]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Find the intersection of sets A and B using intersection()
result_intersection = A.intersection(B)

print("Result using intersection():", result_intersection)

Result using intersection(): {19, 20, 22, 24, 25, 26}

In [17]:
#Is A subset of B

In [18]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Check if A is a subset of B using issubset()
is_subset = A.issubset(B)

print("Is A a subset of B:", is_subset)

Is A a subset of B: True

In [ ]:
#Are A and B disjoint sets

In [19]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Check if A and B are disjoint using isdisjoint()
are_disjoint = A.isdisjoint(B)

print("Are A and B disjoint:", are_disjoint)

Are A and B disjoint: False

In [ ]:
#Join A with B and B with A

In [20]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Join A with B
result1 = A.union(B)
# Alternatively, you can use the | operator
# result1 = A | B

# Join B with A
result2 = B.union(A)
# Alternatively, you can use the | operator
# result2 = B | A

print("Result of joining A with B:", result1)
print("Result of joining B with A:", result2)

Result of joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Result of joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
#What is the symmetric difference between A and B

In [21]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Find the symmetric difference using symmetric_difference() method
result_symmetric_difference = A.symmetric_difference(B)
# Alternatively, you can use the ^ operator
# result_symmetric_difference = A ^ B

print("Symmetric difference between A and B:", result_symmetric_difference)

Symmetric difference between A and B: {27, 28}

In [ ]:
#Exercises: Level 3

In [ ]:
#Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [22]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Convert the list 'age' to a set
age_set = set(age)

# Compare the lengths of the list and the set
length_of_age_list = len(age)
length_of_age_set = len(age_set)

# Output the results
print("Length of the age list:", length_of_age_list)
print("Length of the age set:", length_of_age_set)

# Compare and output the result
if length_of_age_set > length_of_age_list:
    print("The set has more unique elements than the list.")
elif length_of_age_set < length_of_age_list:
    print("The list has more elements than the set.")
else:
    print("The list and the set have the same number of elements.")

Length of the age list: 8
Length of the age set: 5
The list has more elements than the set.

In [ ]:
#Explain the difference between the following data types: string, list, tuple and set

In [ ]:
#String:

A string is a sequence of characters enclosed within single (' '), double (" "), or triple (''' ''' or """ """) quotes.
    Strings are immutable, meaning their values cannot be changed once they are created. You can create a new string with modified content, but the original string remains unchanged.
    Operations on strings include concatenation, slicing, and various string methods for manipulation.

In [24]:
#Example:
my_string = "Hello, World!"
my_string

'Hello, World!'

In [ ]:
#List:

    A list is an ordered, mutable collection of elements. Elements in a list can be of different data types.
    Lists are defined using square brackets [].
    You can modify the content of a list by adding, removing, or changing elements.
    Operations on lists include indexing, slicing, appending, extending, and more.

In [25]:
#Example:
my_list = [1, 2, 'three', 4.0]
my_list

[1, 2, 'three', 4.0]

In [ ]:
#Tuple:

    A tuple is an ordered, immutable collection of elements. Once a tuple is created, you cannot change its values.
    Tuples are defined using parentheses ().
    They are often used for fixed collections of related elements and for scenarios where immutability is desired.
    Operations on tuples include indexing and slicing.

In [26]:
#Example:
my_tuple = (1, 2, 'three', 4.0)
my_tuple

(1, 2, 'three', 4.0)

In [ ]:
#Set:

    A set is an unordered collection of unique elements. Duplicate elements are not allowed in a set.
    Sets are defined using curly braces {} or the set() constructor.
    Sets support mathematical set operations like union, intersection, and difference.
    Elements in a set are not indexed, and the order is not guaranteed.

In [27]:
#Example:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In summary:

    Strings are for handling text data and are immutable.
    Lists are mutable ordered collections of elements.
    Tuples are immutable ordered collections of elements.
    Sets are unordered collections of unique elements with no duplicates.

I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [28]:
# The sentence
sentence = "I am a teacher and I love to inspire and teach people."

# Splitting  the sentence into words using split method
words = sentence.split()

# Converting the list of words to a set to get unique words
unique_words = set(words)

# Finding the number of unique words
num_unique_words = len(unique_words)

# Output the result
print("Number of unique words:", num_unique_words)

Number of unique words: 10