# Exercises - Day 5

In [ ]:
#Exercises: Level 1

In [1]:
#1.Declare an empty list
empty_list = []
empty_list

[]

In [5]:
#2.Declare a list with more than 5 items
my_list = [1, 2, 3, 'four', 5.5, True, 'seven']
my_list

[1, 2, 3, 'four', 5.5, True, 'seven']

In [7]:
#Number of items in the list
len(my_list)

7

In [8]:
#3.Find the length of your list
my_list = [1, 2, 3, 'four', 5.5, True, 'seven']
length_of_list = len(my_list)

print("Length of the list is:", length_of_list)

Length of the list is: 7

In [9]:
#4.Get the first item, the middle item and the last item of the list
my_list = [1, 2, 3, 'four', 5.5, True, 'seven']

# Get the first item
first_item = my_list[0]

# Get the middle item (assuming the list has an odd length)
middle_item = my_list[len(my_list)//2]

# Get the last item
last_item = my_list[-1]

print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

First item: 1
Middle item: four
Last item: seven

In [10]:
#5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["Ali Lawal Muazu", 37, 175.5, "married", "Kano State, Nigeria"]
mixed_data_types

['Ali Lawal Muazu', 37, 175.5, 'married', 'Kano State, Nigeria']

In [11]:
#6.Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
It_Companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
It_Companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [12]:
#7.Print the list using print()
It_Companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

print(It_Companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [13]:
#8.Print the number of companies in the list
It_Companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

num_of_companies = len(It_Companies)

print("Number of companies:", num_of_companies)

Number of companies: 7

In [14]:
#9.Print the first, middle and last company
It_Companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Print the first company
first_company = It_Companies[0]
print("First company:", first_company)

# Print the middle company
middle_company = It_Companies[len(It_Companies)//2]
print("Middle company:", middle_company)

# Print the last company
last_company = It_Companies[-1]
print("Last company:", last_company)

# Change the variable name to num_of_companies
num_of_companies = len(It_Companies)
print("Number of companies:", num_of_companies)

First company: Facebook
Middle company: Apple
Last company: Amazon
Number of companies: 7

In [15]:
#10.Print the list after modifying one of the companies
It_Companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Modify one of the companies (for example, replacing "Microsoft" with "Twitter")
It_Companies[2] = "Twitter"

# Print the updated list
print("Updated list of companies:", It_Companies)

Updated list of companies: ['Facebook', 'Google', 'Twitter', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [16]:
#11.Add an IT company to it_companies
It_Companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Add a new IT company (for example, "Salesforce") to the list
It_Companies.append("Salesforce")

# Print the updated list
print("Updated list of companies:", It_Companies)

Updated list of companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Salesforce']

In [17]:
#12.Insert an IT company in the middle of the companies list
It_Companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Add a new IT company (for example, "Salesforce") in the middle of the list
It_Companies.insert(len(It_Companies)//2, "Salesforce")

# Print the updated list
print("Updated list of companies:", It_Companies)

Updated list of companies: ['Facebook', 'Google', 'Microsoft', 'Salesforce', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [18]:
#13.Change one of the it_companies names to uppercase (IBM excluded!)
It_Companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# Change the name of one of the IT companies (excluding IBM) to uppercase
company_to_change = "Microsoft"
index_to_change = It_Companies.index(company_to_change)
It_Companies[index_to_change] = company_to_change.upper()

# Print the updated list
print("Updated list of companies:", It_Companies)

Updated list of companies: ['Facebook', 'Google', 'MICROSOFT', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [20]:
#14.Join the it_companies with a string '#;  '
# Join the elements with the string '#;  '
joined_companies = '#;  '.join(It_Companies)

# Print the result
print("Joined list of companies:", joined_companies)

Joined list of companies: Facebook#;  Google#;  MICROSOFT#;  Apple#;  IBM#;  Oracle#;  Amazon

In [21]:
#15.Check if a certain company exists in the It_Companies list.
It_Companies = ["Facebook", "Google", "MICROSOFT", "Apple", "IBM", "Oracle", "Amazon"]

# Check if a certain company (for example, "Microsoft") exists in the list
company_to_check = "Microsoft"

if company_to_check in It_Companies:
    print(f"{company_to_check} exists in the list.")
else:
    print(f"{company_to_check} does not exist in the list.")

Microsoft does not exist in the list.

In [22]:
#16.Sort the list using sort() method
It_Companies = ["Facebook", "Google", "MICROSOFT", "Apple", "IBM", "Oracle", "Amazon"]

# Sort the list in alphabetical order
It_Companies.sort()

# Print the sorted list
print("Sorted list of companies:", It_Companies)

Sorted list of companies: ['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'MICROSOFT', 'Oracle']

In [23]:
#17.Reverse the list in descending order using reverse() method
It_Companies = ["Facebook", "Google", "MICROSOFT", "Apple", "IBM", "Oracle", "Amazon"]

# Sort the list in descending order
It_Companies.sort(reverse=True)

# Print the sorted list in descending order
print("Sorted list in descending order:", It_Companies)

Sorted list in descending order: ['Oracle', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [24]:
#18.Slice out the first 3 companies from the list
It_Companies = ['Oracle', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

# Slice out the first 3 companies
first_three_companies = It_Companies[:3]

# Print the sliced list
print("First three companies:", first_three_companies)

First three companies: ['Oracle', 'MICROSOFT', 'IBM']

In [25]:
#19.Slice out the last 3 companies from the list
It_Companies = ['Oracle', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

# Slice out the last 3 companies
last_three_companies = It_Companies[-3:]

# Print the sliced list
print("Last three companies:", last_three_companies)

Last three companies: ['Facebook', 'Apple', 'Amazon']

In [26]:
#20.Slice out the middle IT company or companies from the list
It_Companies = ['Oracle', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

# Find the middle index or indices
middle_index = len(It_Companies) // 2
is_odd_length = len(It_Companies) % 2 == 1

# Slice out the middle IT company or companies
if is_odd_length:
    middle_company = It_Companies[middle_index]
else:
    middle_company = It_Companies[middle_index - 1 : middle_index + 1]

# Print the sliced middle company or companies
print("Middle IT company or companies:", middle_company)

Middle IT company or companies: Google

In [27]:
#21.Remove the first IT company from the list
It_Companies = ['Oracle', 'MICROSOFT', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

# Remove the first IT company
if len(It_Companies) > 0:
    removed_company = It_Companies.pop(0)
    print(f"Removed company: {removed_company}")
else:
    print("The list is empty.")

# Print the updated list
print("Updated list of companies:", It_Companies)

Removed company: Oracle
Updated list of companies: ['MICROSOFT', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [28]:
#22.Remove the middle IT company or companies from the list
It_Companies = ['MICROSOFT', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

# Find the middle index or indices
middle_index = len(It_Companies) // 2
is_odd_length = len(It_Companies) % 2 == 1

# Remove the middle IT company or companies
if is_odd_length:
    removed_company = It_Companies.pop(middle_index)
    print(f"Removed company: {removed_company}")
else:
    removed_companies = It_Companies.pop(middle_index - 1), It_Companies.pop(middle_index - 1)
    print(f"Removed companies: {removed_companies}")

# Print the updated list
print("Updated list of companies:", It_Companies)

Removed companies: ('Google', 'Facebook')
Updated list of companies: ['MICROSOFT', 'IBM', 'Apple', 'Amazon']

In [29]:
#23.Remove the last IT company from the list
It_Companies = ['MICROSOFT', 'IBM', 'Google', 'Apple', 'Amazon']

# Remove the last IT company
if len(It_Companies) > 0:
    removed_company = It_Companies.pop()
    print(f"Removed company: {removed_company}")
else:
    print("The list is empty.")

# Print the updated list
print("Updated list of companies:", It_Companies)

Removed company: Amazon
Updated list of companies: ['MICROSOFT', 'IBM', 'Google', 'Apple']

In [30]:
#24.Remove all IT companies from the list
It_Companies = ['MICROSOFT', 'IBM', 'Google', 'Apple']

# Clear the list to remove all IT companies
It_Companies.clear()

# Print the updated list
print("Updated list of companies:", It_Companies)

Updated list of companies: []

In [33]:
#25.Destroy the IT companies list
It_Companies = ['MICROSOFT', 'IBM', 'Google', 'Apple', 'IBM', 'Amazon']

# Use the del statement to delete the entire list
del It_Companies

 print("Updated list of companies:", It_Companies)

IndentationError: unexpected indent (4017418858.py, line 7)

In [34]:
#26.Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

front_end.extend(back_end)

# Print the joined list
print("Full stack technologies:", front_end)

Full stack technologies: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [35]:
#27.After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

# Join the lists
full_stack = front_end + back_end

# Create a copy of the joined list
full_stack_copy = full_stack.copy()

# Insert 'Python' and 'SQL' after 'Redux' in the copied list
insert_index = full_stack_copy.index('Redux') + 1
full_stack_copy.insert(insert_index, 'Python')
full_stack_copy.insert(insert_index + 1, 'SQL')

# Print the original joined list and the modified copy
print("Original Full Stack Technologies:", full_stack)
print("Modified Full Stack Technologies:", full_stack_copy)

Original Full Stack Technologies: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
Modified Full Stack Technologies: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [ ]:
#Exercises: Level 2

In [36]:
#1.The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [37]:
#Number of ages
len(ages)

10

In [38]:
#Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list in ascending order
ages.sort()

# Find the minimum and maximum ages
min_age = min(ages)
max_age = max(ages)

# Print the sorted list, minimum age, and maximum age
print("Sorted list of ages:", ages)
print("Minimum age:", min_age)
print("Maximum age:", max_age)

Sorted list of ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age: 19
Maximum age: 26

In [39]:
#Add the min age and the max age again to the list
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list in ascending order
ages.sort()

# Find the minimum and maximum ages
min_age = min(ages)
max_age = max(ages)

# Add the min and max ages again to the list
ages.append(min_age)
ages.append(max_age)

# Print the updated list of ages
print("Updated list of ages:", ages)

Updated list of ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [40]:
#Find the median age (one middle item or two middle items divided by two)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list in ascending order
ages.sort()

# Find the number of elements in the list
num_elements = len(ages)

# Find the middle index or indices
middle_index = num_elements // 2

# Check if the number of elements is odd or even
if num_elements % 2 == 1:
    # If odd, there is one middle item
    median_age = ages[middle_index]
else:
    # If even, take the average of the two middle items
    median_age = (ages[middle_index - 1] + ages[middle_index]) / 2

# Print the sorted list and the median age
print("Sorted list of ages:", ages)
print("Median age:", median_age)

Sorted list of ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Median age: 24.0

In [41]:
#Find the average age (sum of all items divided by their number )
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Calculate the sum of all ages
sum_of_ages = sum(ages)

# Calculate the average age
average_age = sum_of_ages / len(ages)

# Print the list of ages, the sum, and the average age
print("List of ages:", ages)
print("Sum of ages:", sum_of_ages)
print("Average age:", average_age)

List of ages: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
Sum of ages: 228
Average age: 22.8

In [42]:
#Find the range of the ages (max minus min)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Calculate the range of ages
age_range = max(ages) - min(ages)

# Print the list of ages and the age range
print("List of ages:", ages)
print("Age range:", age_range)

List of ages: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
Age range: 7

In [43]:
#Compare the value of (min - average) and (max - average), use abs() method
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Calculate the average age
average_age = sum(ages) / len(ages)

# Calculate the minimum and maximum ages
min_age = min(ages)
max_age = max(ages)

# Calculate the absolute values of (min - average) and (max - average)
abs_min_difference = abs(min_age - average_age)
abs_max_difference = abs(max_age - average_age)

# Print the list of ages and the absolute differences
print("List of ages:", ages)
print("Absolute difference between min and average:", abs_min_difference)
print("Absolute difference between max and average:", abs_max_difference)

List of ages: [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
Absolute difference between min and average: 3.8000000000000007
Absolute difference between max and average: 3.1999999999999993

In [ ]:
#1.Find the middle country(ies) in the countries list
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

In [44]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
    'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
    'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
    'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
    'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)',
    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France',
    'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
    'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel',
    'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait',
    'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
    'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
    'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
    'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau',
    'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
    'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe',
    'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
    'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
    'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago',
    'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
    'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'
]

# Find the number of countries
num_countries = len(countries)

# Find the middle index or indices
middle_index = num_countries // 2

# Check if the number of countries is odd or even
if num_countries % 2 == 1:
    # If odd, there is one middle country
    middle_country = countries[middle_index]
else:
    # If even, there are two middle countries
    middle_country1 = countries[middle_index - 1]
    middle_country2 = countries[middle_index]

# Print the middle country or countries
if num_countries % 2 == 1:
    print(f"There is one middle country: {middle_country}")
else:
    print(f"There are two middle countries: {middle_country1} and {middle_country2}")

There is one middle country: Lesotho

In [45]:
#2.Divide the countries list into two equal lists if it is even if not one more country for the first half.
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
    'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
    'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
    'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
    'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)',
    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France',
    'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
    'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel',
    'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait',
    'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
    'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
    'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
    'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau',
    'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
    'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe',
    'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
    'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
    'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago',
    'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
    'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'
]

# Find the number of countries
num_countries = len(countries)

# Find the middle index
middle_index = num_countries // 2

# Divide the list into two halves
if num_countries % 2 == 0:
    # If even, two equal halves
    first_half = countries[:middle_index]
    second_half = countries[middle_index:]
else:
    # If odd, one more country for the first half
    first_half = countries[:middle_index + 1]
    second_half = countries[middle_index + 1:]

# Print the two halves
print("First half of countries:", first_half)
print("Second half of countries:", second_half)

First half of countries: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second half of countries: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [46]:
#3.['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries
country1, country2, country3, *scandic_countries = countries

# Print the unpacked countries and the rest as Scandic countries
print("First country:", country1)
print("Second country:", country2)
print("Third country:", country3)
print("Scandic countries:", scandic_countries)

First country: China
Second country: Russia
Third country: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']